.hero-content {
    position: relative;
    /* height: calc(100vh - 80px); */
    height: 100vh;
    max-height: 800px;
}

.hero-content .full-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
    overflow: hidden;
    height: 100%;
}

.hero-content .full-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(0deg, #101010, transparent ) ;
    z-index: 1;
}

.hero-layer {
    position: absolute;
    max-width: var(--lrg-wrapper);
    width: 100%;
    height: calc(100% - 80px);
    z-index: 2;
    top: 80px;
    display: grid;
    align-items: end;    
}

.hero-txt {
    padding: var(--padding-tb) var(--padding-lr);
}

.hero-content h2 {
    font-size: 3em;
    line-height: 0.75;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.hero-txt .hero-heading {
    display: grid;
}

.hero-txt .hero-heading-lt {
    font-weight: 300;
}

.hero-subheading, .hero-subheading-lt {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1em;
    background: var(--clr-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    letter-spacing: 0.5em;
    width: fit-content;
}

.hero-subheading-lt {
    font-size: 0.65em;
    letter-spacing: var(--extra-text-spacing);
}

.hero-description p {
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1.5em;
}

@media (min-width:576px) {

    .hero-layer {
        max-height: auto;
    }

    .hero-txt {
        padding: var(--padding-tb) var(--padding-lr);
    }
    
    .hero-content h2 {
        font-size: 6em;
        column-gap: 18px;
    }

    .hero-subheading {
        font-size: 0.8em;
    }

    .hero-subheading-lt {
        font-size: 0.5em;
    }

    .hero-description p {
        font-size: 0.85em;
    }

}

@media (min-width:768px) {

    .hero-content {
        height: auto;
        max-height: none;
    }

    .hero-content .full-wrapper {
        height: auto;
    }

    .hero-layer {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0 var(--padding-lr);
        height: auto;
    }

    .hero-txt {
        width: 45%;
        padding: 0;
    }

    .hero-content h2 {
        display: block;
    }

    .hero-content .full-wrapper::after {
        height: 50%;
    }

}

@media (min-width:1024px) {

    .hero-layer {
        padding-left: var(--padding-lr-d); 
        padding-right: var(--padding-lr-d); 
    }

    .hero-txt {
        width: 33.33333%;
    }
        
    .hero-content h2 {
        font-size: 8em;
    }

    .hero-subheading {
        font-size: 1em;
    }

    .hero-subheading-lt {
        font-size: 0.65em;
    }

    .hero-description p {
        font-size: 0.85em;
        line-height: 2em;
    }
    
}

@media (min-width:1440px) {

    .hero-content h2 {
        font-size: 10em;
    }

    .hero-subheading {
        font-size: 1.4em;
    }

    .hero-subheading-lt {
        font-size: 0.85em;
    }

    .hero-description {
        padding-top: 32px;
    }

    .hero-description p {
        font-size: 1.2em;
    }
    
    
    
}

@media (min-width:1900px) {

    .hero-content h2 {
        font-size: 12em;
    }

    .hero-subheading {
        font-size: 1.8em;
    }

    .hero-subheading-lt {
        font-size: 0.85em;
    }

    .hero-description {
        padding-top: 64px;
    }

    .hero-description p {
        font-size: 1.2em;
    }
    
}

@media (min-width:2500px) {

    .hero-content h2 {
        font-size: 16em;
    }

    .hero-subheading {
        font-size: 2em;
    }

    .hero-subheading-lt {
        font-size: 1em;
    }

}


.hero-content img {
    width: 100%;
    max-height: calc(100vh - 120px);
    object-fit: cover;
    height: 100vh;
    max-height: none;
    min-height: 720px;
    width: 100%;
    object-fit: cover;
    transform: scale(1.05) translate(0, 0);
    transition: transform 0.6s ease-out;
    will-change: transform;
    object-position: top;
}


@media (min-width:768px) {

    .hero-content img {
        width: 100%;
        max-height: calc(100vh - 120px);
        object-fit: cover;
        height: 100vh;
        max-height: none;
        min-height: 720px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.05) translate(0, 0);
        transition: transform 0.6s ease-out;
        will-change: transform;
    }

    
}