.featured-projects {
    position: relative;
    top: -50%;
}



.featured-projects-grid {
    gap: 4px;
}

.featured-projects .project-card img {
    display: block;
}

.featured-projects h2 {
    letter-spacing: var(--extra-text-spacing);
    text-transform: uppercase;
    font-weight: 400;
}

@media (min-width:768px) {

    .featured-projects .lrg-wrapper {
        padding-top: 0;
    }

}