.project-text-block-content {
    padding: 48px;
    border: solid 1px #2a2a2a;
    border-radius: 24px;
    background-color: #ffffff05;
}

.project-text-block-title-eyebrow {
    display: grid;
    gap: 16px;
}

.project-text-block-title-eyebrow .subtitle-eyebrow {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: var(--extra-text-spacing);
}