
.project-summary {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-summary .full-wrapper {
    position: relative;
}

.project-summary-text {
    max-width: var(--std-wrapper);
    margin: 0 auto;
}

.project-summary-text p {
    font-weight: 300;
    letter-spacing: -0.065em;
    line-height: 1.3em;
    font-size: 1.8em;
    text-shadow: 0 1px 4px #00000040;
}

.project-summary-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    max-width: var(--std-wrapper);
    min-height: 100%;
    padding: 0 var(--padding-lr-d);
    padding: 0 120px;
    display: grid;
    align-content: center;
    gap: 120px;
}

.project-summary-details {
    display: grid;
    gap: 32px;
}

.project-summary-details-rows {
    display: grid;
    gap: 16px;
}

.project-summary-row {
    display: grid;
    line-height: 1em;
    gap: 6px;
    border-bottom: solid 1px #ffffff1a;
    padding-bottom: 16px;
}

.project-summary-row-label {
    font-size: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    line-height: 1em;
}

.project-summary-row-value {
    font-weight: 600;
}

.project-summary-technologies {
    display: grid;
    gap: 16px;
}

.project-summary-technologies-head {
    font-size: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    line-height: 1em;
}

.project-summary-technologies ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.project-summary-technologies li {

}

.project-summary-technologies span {
    padding: 6px 12px 6px; 
    display: inline-block;
    line-height: 1;
    font-size: 0.65em;
    border-radius: 12px;
    background-color: #ffffff0f;
}


.project-summary-bg-img img {
    width: 100%;
}