
html * {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-base);
  margin: 0;
  font-size: 12px;
  line-height: 1.6em;
}

.dark-bg h1, .dark-bg h2, .dark-bg h3, .dark-bg h4, .dark-bg .h1, .dark-bg .h2, .dark-bg .h3, .dark-bg .h4 {
  color: var(--clr-head);
}

.dark-bg, .dark-bg p, .dark-bg p a, .dark-bg ul {
  color: var(--clr-base);
}

img {
  max-width: 100%;
}

.img-round img {
  border-radius: 24px;
}

@media (min-width:1024px) {

  body {
    font-size: 14px;
    line-height: 2em;
  }
  
}

/* =========================
   Background Colours
========================= */

.white-bg {
  background-color: var(--clr-white)!important;
}

.black-bg {
  background-color: var(--clr-black)!important;
}

.grey-bg {
  background-color: var(--clr-grey)!important;
}

.dark-grey-bg {
  background-color: var(--clr-dark-grey)!important;
}

.purple-bg {
  background-color: var(--clr-purple-xdk);
}

.blue-gradiant-top-bg {
  background: linear-gradient(0deg, var(--clr-black), var(--clr-blue-xdk));
}

.purple-gradiant-top-bg {
  background: linear-gradient(0deg, var(--clr-black), var(--clr-purple-xdk));
}




