/* =========================
Embla Styles
========================= */

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  padding-bottom: 2px;
}

.embla__container {
  display: flex;
}

/* Slide */
.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}



/* =========================
Embla Grid to Flex Styles
========================= */

/* Slide Responsiveness */

.embla .embla__container,
.embla .embla__container,
.embla .embla__container,
.embla .embla__container
 {
  display: flex;
  gap: 0;
}

.embla .embla__container > div,
.embla .embla__container > div,
.embla .embla__container > div,
.embla .embla__container > div
{
  flex: 0 0 100%;;
}

.embla .grid-d-two-cols, .embla .grid-d-three-cols, .embla .grid-d-four-cols, .embla .grid-d-five-cols, .embla .grid-l-two-cols, .embla .grid-l-three-cols, .embla .grid-l-four-cols, .embla .grid-l-five-cols, .embla .grid-t-two-cols, .embla .grid-t-three-cols, .embla .grid-t-four-cols, .embla .grid-t-five-cols {
  margin-left: -24px;
}

.embla .embla__container {
  margin-left: -24px;
}
.embla .embla__container > div {
  padding-left: 24px;
  flex: 0 0 calc(100% - 24px);
}

.embla .embla__slide {
  height: 100%;

}

@media (min-width:480px) {

  .embla .grid-t-two-cols > div,  .embla .grid-t-three-cols > div,  .embla .grid-t-four-cols > div,  .embla .grid-t-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-t-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-t-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-t-four-cols > div {
    flex: 0 0 25%;
  }

}

@media (min-width:768px) {

  .embla .grid-l-two-cols > div,  .embla .grid-l-three-cols > div,  .embla .grid-l-four-cols > div,  .embla .grid-l-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-l-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-l-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-l-four-cols > div {
    flex: 0 0 25%;
  }

}

@media (min-width:1024px) {

  .embla .grid-d-two-cols > div,  .embla .grid-d-three-cols > div,  .embla .grid-d-four-cols > div,  .embla .grid-d-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-d-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-d-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-d-four-cols > div {
    flex: 0 0 25%;
  }
  
}

@media (min-width:1280px) {

  .embla .grid-xl-two-cols > div,  .embla .grid-xl-three-cols > div,  .embla .grid-xl-four-cols > div,  .embla .grid-xl-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-xl-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-xl-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-xl-four-cols > div {
    flex: 0 0 25%;
  }
  
}

/* =========================
Embla Dots
========================= */

.embla__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.embla__dots__container {
  padding: var(--padding-tb) 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.embla__dot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: #ffffff2b;;
}

.embla__dot.is-active {
  background: transparent;
}

.embla__dot-progress {
  position: absolute;
  inset: 0;
  background: var(--clr-white);
  transform-origin: left;
  /* animation: emblaProgress 4s linear forwards; */
  animation: none;
}


@media (min-width:480px) {

  .embla__dots {
    gap: 16px;
  }

  .embla__dot {
    width: 12px;
    height: 12px;
  }

}

@media (min-width:768px) {

  .embla__dots__container {
    gap: 48px;
  }
  
}

/* =========================
Embla Arrows
========================= */



.embla__prev, .embla__next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-lr);
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.embla__next {
  left: auto;
  right: var(--padding-lr);
}

.embla__prev, .embla__next {
  position: relative;
  top: auto;
  transform: none;
  left: auto;
  right: auto;
  padding: 0;
  color: var(--clr-white);

  padding: 8px 9px 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #ffffff2b;
  transition: ease 0.3s all;
}

.embla__prev:hover, .embla__next:hover {
  background-color: #666;
  border: solid 1px #666;
}

@media (min-width:576px) {

  .embla__prev, .embla__next {
    display: flex;
  }

    
}

