:root {
	--std-wrapper: 1444px;
	--sml-wrapper: 1000px;
	--lrg-wrapper: 1800px;
	--padding-lr: 24px;
	--padding-tb: 24px;
	--padding-lr-d: 40px;
	--padding-tb-d: 120px;

  --grid-gap: 24px;
  --grid-gap-d: 32px;
  --grid-gap-row-d: 48px;

  --hero-gap: 12px;
  --hero-gap-d: 12px;

  --font-mazda: MazdaTypeTT;
  --font-bt50: BT-50Type;

  --wrapper-gap: 24px;
  --wrapper-gap-d: 32px;

  /* Colours */
  --clr-primary: #910a2d;
  --clr-primary-lt: #B73053;
  --clr-primary-dk: #6B0007;

  --clr-white: #ffffff;
  --clr-black: #101010;

  --clr-grey: #cccccc;
  --clr-grey-dk: #999999;  

  --clr-dark-grey: #151515;
  --clr-dark-grey-lt: #545760;
  --clr-dark-grey-dk: #21242D;

  --clr-blue: #00fffc;
  --clr-blue-lt: #26FFFF;
  --clr-blue-xlt: #BFFFFF;
  --clr-blue-dk: #00B3B0;
  --clr-blue-xdk: #001a1a;


  
  --clr-purple: #8969fa;
  --clr-purple-lt: #AF8FFF;
  --clr-purple-xlt: #FCDCFF;
  --clr-purple-dk: #3D1DAE;
  --clr-purple-xdk: #1f0039;

  --clr-pink: #e400ff;
  --clr-pink-lt: #FF26FF;
  --clr-pink-xlt: #FFBFFF;
  --clr-pink-dk: #9800B3;
  --clr-pink-xdk: #4B0066;

  --clr-nav: #000000;

  --header-text: #ffffff;
  --header-link: #b0b0b0;;
  --header-bg: #101010;

  --clr-head: #e5e5e5;
  --clr-base: #d5d5d5;
  --clr-dark-bg-base: #d5d5d5;

  --clr-grey-border: #d5d5d5;
  --clr-dark-grey-border: #333333;
  --clr-footer-border: #333333;

  --extra-text-spacing: 1em;

  --clr-gradient: linear-gradient(45deg, #00fffc, #e400ff);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}
