<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect HTTP and non-www to HTTPS www
    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP_HOST} !^www\.reuvenvergara\.com$ [NC]
    RewriteRule ^ https://www.reuvenvergara.com%{REQUEST_URI} [R=301,L]

    RewriteBase /

    RewriteRule ^index\.html$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . /index.html [L]
</IfModule>