.skills-content {
    background-image: url("/src/assets/skills-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.skills-content::before, .skills-content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.3333%;
    background-image: linear-gradient(0deg, transparent, var(--clr-black));
}

.skills-content::before {
    background-image: linear-gradient(0deg, var(--clr-black), transparent);
    top: auto;
    bottom: 0;
}

.skills-content-bg {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--clr-black);
    opacity: 0.75;
    z-index: 0;
}

.skills-content > .sml-wrapper, .skills-content > .std-wrapper, .skills-content > .lrg-wrapper, .skills-content > .fulll-wrapper {
    z-index: 1;
    position: relative;
}


.skill-name {
    color: var(--clr-white);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: var(--extra-text-spacing);
    line-height: 1;
    text-transform: uppercase;
    width: fit-content;
    display: grid;
    gap: 16px;
}

.skill-name::before {
    content: '';
    max-width: 32px;
    height: 1px;
    width: 100%;
    background-color: var(--clr-white);
    display: block;
    margin: 0 auto;
}

.skill-col {
    display: grid;
    justify-items: center;
    gap: 12px;
}

.skill-img {
    position: relative;
}

.skill-img img {
    position: relative;
    z-index: 2;
    transition: ease-out 0.3s all;
}

.skill-img::after {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 120px;
    height: 50px;
    background-color: #00000080;
    border-radius: 50%;
     filter: blur(16px);
}

.skill-col:hover .skill-img img {
    transform: scale(1.1);
}

@media (min-width: 1024px) {

    
    .skills-content-grid {
        gap: 48px;
    }
    
}
