.featured-case-study-content {
    position: relative;
}

.featured-case-study-content .full-wrapper {
    padding-bottom: 0;
}

.featured-case-study-hero {

}

.featured-case-study-hero img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.85;
}

.featured-case-study-text-container {
    display: grid;
    align-items: center;
    padding: 0 var(--padding-lr);
}


.featured-case-study-content + .featured-case-study-content .featured-case-study-text-container {
    left: auto;
    right: 0;
}

.featured-case-study-content + .featured-case-study-content .full-wrapper {
    padding-top: 0;
}

.featured-case-study-content + .featured-case-study-content .featured-case-study-hero {
    margin-left: 0;
    margin-right: auto;
}

.featured-case-study-content + .featured-case-study-content .featured-case-study-text {
    margin-left: auto;
}

@media (min-width:1024px) {

    .featured-case-study-text-container {
        position: absolute;
        left: 0;
        z-index: 2;
        height: 100%;
        display: grid;
        align-items: center;
        padding: 0 var(--padding-lr-d);
    }

    .featured-case-study-text {
        width: 33.333333%;
    }

    .featured-case-study-hero {
        width: 75%;
        height: 100%;
        margin-left: auto;
    }

}

@media (min-width:1600px) {

    .featured-case-study-text-container {
        padding: 0 120px;
    }

    .featured-case-study-text {
        width: 30%;
    }

    .featured-case-study-hero {
        width: 80%;
    }

}

@media (max-width:1023px) {

    .featured-case-study-content .full-wrapper {
        gap: 0;
    }
    
}

