

.projects-page {
    background: linear-gradient(0deg, #a639801f 0%, #4281ca1c 50%, #36e4d80f 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

