footer {
    background-color: var(--clr-grey);
    background: linear-gradient(180deg, var(--clr-black), #1f0039);
    /* background: linear-gradient(180deg, var(--clr-dark-grey), #1f0039); */
}

footer .std-wrapper {
    padding-top: 72px;
    padding-bottom: 72px;
}

.footer-contact-flex {
    display: flex;
    gap: var(--grid-gap);
    flex-direction: column;
    padding-top: 40px;
}

.footer-contact-row {
    display: grid;
    line-height: 1em;
    position: relative;
    align-items: center;
    align-content: start;
}

.footer-contact-row a {
    display: grid;
    line-height: 1em;
    padding-left: 32px;
    gap: 24px;
    position: relative;
    align-items: center;
    align-content: start;
    font-weight: 700;
    letter-spacing: -0.1em;
    font-size: 1.3em;
}

.footer-contact-row a small {
    color: var(--clr-grey-dk);
    display: block;
    font-weight: normal;
    letter-spacing: normal;
    margin-top: 4px;
    font-size: 0.65em;
}


.footer-contact-row a:hover {
    color: var(--clr-white);
}

.footer-contact-row::after {
    content: '';
    width: 2px;
    height: 100%;
    background-image: var(--clr-gradient);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

.footer-contact-row svg {
    padding-top: 8px;
    font-size: 48px;
    transition: ease 0.3s all;
    color: var(--clr-white);
}

.footer-contact-row a:hover svg {
    transform: translateY(-8px);
}

.footer-contact-row svg.icon-linkedin {
    padding-top: 8px;
}

.footer-contact-row a, .footer-contact-row svg {
    transition: ease 0.3s all;
}

.footer-text {
    font-weight: 600;
    line-height: 1.5em;
}

@media (min-width:576px) {

    .footer-contact-flex {
        flex-direction: row;
        gap: 64px;
    }

}

@media (min-width:1024px) {

    footer .std-wrapper {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .footer-contact-flex {
        display: flex;
        gap: 64px;
        flex-direction: row;
        align-items: flex-end;
        padding-top: 0;
    }


    .footer-text {
        font-size: 1.2em;
    }
    
}