.page-hero .full-wrapper {
    padding: 0;
}

.projects-page .page-hero .page-hero-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 360px;
}

.page-hero-content {
    z-index: 2;
    display: grid;
    align-content: center;
    max-width: var(--sml-wrapper);
    margin: 0 auto;
    padding: 128px var(--padding-lr) 24px;
}

.page-hero-img {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 800px;
}

.page-hero-img > div {
    position: relative;
}

.page-hero-img > div::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, var(--clr-black), transparent );
}


@media (min-width:768px) {

    .page-hero .full-wrapper {
        position: relative;
        max-height: 800px;
        min-height: 50vh;
    }

    .projects-page .page-hero .page-hero-img img {
        min-height: 576px;
    }

    .page-hero-content {       
        z-index: 2;
        display: grid;
        align-content: center;
        max-width: var(--sml-wrapper);
        margin: 0 auto;
        padding-top: 32px;
    }

}

@media (min-width:1024px) {

    .page-hero-content {
        padding-top: 120px;
    }
    
}



