/* =========================
   Embla General Style
========================= */

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  padding-bottom: 2px;
}

.embla__container {
  display: flex;
}

/* Slide */
.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Dots */
.embla__dots {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.embla__dots__container {
  padding: var(--padding-tb) 0;
}

.embla__dot {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: #ffffff2b;;
}

.embla__dot.is-active {
  background: transparent;
  border: solid 2px var(--clr-white);
  width: 32px;
  border-radius: 12px;
}

.embla__dot-progress {
  position: absolute;
  inset: 0;
  background: var(--clr-white);
  transform-origin: left;
  /* animation: emblaProgress 4s linear forwards; */
  animation: none;
}

/* animation */
@keyframes emblaProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


/* Arrows */
.embla__prev, .embla__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-lr);
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.embla__next {
  left: auto;
  right: var(--padding-lr);
}

.embla__dots__container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.embla__prev, .embla__next {
  position: relative;
  top: auto;
  transform: none;
  left: auto;
  right: auto;
  padding: 0;
  color: var(--clr-white);
  display: flex;
  padding: 8px 9px 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #ffffff2b;
  transition: ease 0.3s all;
}

.embla__prev:hover, .embla__next:hover {
  background-color: #666;
  border: solid 1px #666;
}


.project-gallery-slider .embla .embla__container > div, .project-gallery-columns-slider .embla .embla__container > div {
  flex: 0 0 100%;
}

.project-gallery-columns-slider, .project-gallery-slider {
  background-color: #1c1c1c;
}

.project-gallery-columns-slider, .project-gallery-slider {
  display: grid;
  align-content: center;
}

.project-gallery-columns-slider .full-wrapper, .project-gallery-slider .full-wrapper {
  padding: var(--padding-tb) 0;
}

.project-gallery-slide-inner {
  margin: 24px 24px 12px;
}

.project-gallery-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  background-color: #f1f1f1;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 16px #0000005e;
}

.dark-bg .project-gallery-flex {
  background-color: #2b2b2b;
}

.gallery-column-img {
  border-radius: 16px;
  overflow: hidden;
  border: solid 1px #e5e5e5;
  width: 80%;
  margin: 0 auto;
}

.dark-bg .gallery-column-img {
  border-color: transparent;
  box-shadow: 2px 8px 10px #0000007a;
}

.gallery-column-img img {
  display: block;
  width: 100%;
}

.project-gallery-slider .gallery-column-img {
  width: 100%;
}

.gallery-react-versions {
  background-color: var(--clr-black);
}

.gallery-react-versions .gallery-column-img {
  position: relative;
}

@media (min-width:576px) {

  .gallery-column-img {
    width: 66.666667%;
  }

}

@media (min-width:768px) {

  .project-gallery-slider .embla .embla__container > div, .project-gallery-columns-slider .embla .embla__container > div {
    padding-left: 0;
    flex: 0 0 80%;
  }

  .project-gallery-flex {
    padding: 24px;
    flex-direction: row;
  }  

  .gallery-column-img {
    width: calc(50% - 8px);    
  }

}

@media (min-width:1024px) {

  .project-gallery-slider .embla .embla__container > div, .project-gallery-columns-slider .embla .embla__container > div {
    padding-left: 0;
    flex: 0 0 65%;
  }

  .project-gallery-slide-inner {
    margin: 32px;
  }

}

