
/* animation */
@keyframes emblaProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


.project-gallery-columns-slider .embla .embla__container > div {
  flex: 0 0 100%;
}

.project-gallery-slider .embla .embla__container > div {
  flex: 0 0 90%;
}

.project-gallery-columns-slider, .project-gallery-slider {
  background-color: #1c1c1c;
}

.project-gallery-columns-slider, .project-gallery-slider {
  display: grid;
  align-content: center;
}

.project-gallery-columns-slider .full-wrapper, .project-gallery-slider .full-wrapper {
  padding: var(--padding-tb) 0;
}

.project-gallery-slide-inner {
  padding: 24px 0;
}

.project-gallery-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  background-color: #f1f1f1;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 16px #0000005e;
}

.dark-bg .project-gallery-flex {
  background-color: #2b2b2b;
}

.gallery-column-img {
  border-radius: 16px;
  overflow: hidden;
  border: solid 1px #e5e5e5;
  width: 80%;
  margin: 0 auto;
}

.dark-bg .gallery-column-img {
  border-color: transparent;
  box-shadow: 2px 8px 10px #0000007a;
}

.gallery-column-img img {
  display: block;
  width: 100%;
}

.project-gallery-slider .gallery-column-img {
  width: 100%;
}

.gallery-react-versions {
  background-color: var(--clr-black);
}

.gallery-react-versions .gallery-column-img {
  position: relative;
}

@media (min-width:576px) {

  .gallery-column-img {
    width: 66.666667%;
  }

}

@media (min-width:768px) {

  .project-gallery-slider .embla .embla__container > div, .project-gallery-columns-slider .embla .embla__container > div {
    padding-left: 0;
    flex: 0 0 80%;
  }

  .project-gallery-flex {
    padding: 24px;
    flex-direction: row;
  }  

  .gallery-column-img {
    width: calc(50% - 8px);    
  }

  .project-gallery-slide-inner {
    padding: 24px 0;
    margin: 0 24px;
  }


}

@media (min-width:1024px) {

  .project-gallery-slider .embla .embla__container > div, .project-gallery-columns-slider .embla .embla__container > div {
    padding-left: 0;
    flex: 0 0 65%;
  }

  .project-gallery-slide-inner {
    margin: 0 32px ;
  }

}


