/* =========================
   Embla General Style
========================= */

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  padding-bottom: 2px;
}

.embla__container {
  display: flex;
}

/* Slide */
.embla__slide {
  flex: 0 0 100%;
  position: relative;
}

.embla__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Dots */
.embla__dots {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.embla__dots__container {
  padding: var(--padding-tb) 0;
}

.embla__dot {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: #ffffff2b;;
}

.embla__dot.is-active {
  background: transparent;
  border: solid 2px var(--clr-white);
  width: 32px;
  border-radius: 12px;
}

.embla__dot-progress {
  position: absolute;
  inset: 0;
  background: var(--clr-white);
  transform-origin: left;
  /* animation: emblaProgress 4s linear forwards; */
  animation: none;
}

/* animation */
@keyframes emblaProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}


/* Arrows */
.embla__prev, .embla__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-lr);
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.embla__next {
  left: auto;
  right: var(--padding-lr);
}

.embla__dots__container {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.embla__prev, .embla__next {
  position: relative;
  top: auto;
  transform: none;
  left: auto;
  right: auto;
  padding: 0;
  color: var(--clr-white);
  display: flex;
  padding: 8px 9px 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 1px #ffffff2b;
  transition: ease 0.3s all;
}

.embla__prev:hover, .embla__next:hover {
  background-color: #666;
  border: solid 1px #666;
}


/* =========================
Embla Grid to Flex Styles
========================= */

/* Slide Responsiveness */

.embla .embla__container {
  display: flex;
  gap: 0;
}

.embla .embla__container > div {
  flex: 0 0 100%;;
}

.embla .grid-d-two-cols, .embla .grid-d-three-cols, .embla .grid-d-four-cols, .embla .grid-d-five-cols, .embla .grid-l-two-cols, .embla .grid-l-three-cols, .embla .grid-l-four-cols, .embla .grid-l-five-cols, .embla .grid-t-two-cols, .embla .grid-t-three-cols, .embla .grid-t-four-cols, .embla .grid-t-five-cols {
  margin-left: -24px;
}

.embla .embla__container {
  margin-left: -24px;
}
.embla .embla__container > div {
  padding-left: 24px;
  flex: 0 0 calc(100% - 24px);
}

.embla .embla__slide {
  height: 100%;

}

@media (min-width:480px) {

  .embla .grid-t-two-cols > div,  .embla .grid-t-three-cols > div,  .embla .grid-t-four-cols > div,  .embla .grid-t-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-t-two-cols > div, .version-1 .embla .grid-t-two-cols > div, .version-2 .embla .grid-t-two-cols > div, .version-3 .embla .grid-t-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-t-three-cols > div, .version-1 .embla .grid-t-three-cols > div, .version-2 .embla .grid-t-three-cols > div, .version-3 .embla .grid-t-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-t-four-cols > div, .version-1 .embla .grid-t-four-cols > div, .version-2 .embla .grid-t-four-cols > div, .version-3 .embla .grid-t-four-cols > div {
    flex: 0 0 25%;
  }

}

@media (min-width:768px) {

  .embla .grid-l-two-cols > div,  .embla .grid-l-three-cols > div,  .embla .grid-l-four-cols > div,  .embla .grid-l-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-l-two-cols > div, .version-1 .embla .grid-l-two-cols > div, .version-2 .embla .grid-l-two-cols > div, .version-3 .embla .grid-l-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-l-three-cols > div, .version-1 .embla .grid-l-three-cols > div, .version-2 .embla .grid-l-three-cols > div, .version-3 .embla .grid-l-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-l-four-cols > div, .version-1 .embla .grid-l-four-cols > div, .version-2 .embla .grid-l-four-cols > div, .version-3 .embla .grid-l-four-cols > div {
    flex: 0 0 25%;
  }

}

@media (min-width:1024px) {

  .embla .grid-d-two-cols > div,  .embla .grid-d-three-cols > div,  .embla .grid-d-four-cols > div,  .embla .grid-d-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-d-two-cols > div, .version-1 .embla .grid-d-two-cols > div, .version-2 .embla .grid-d-two-cols > div, .version-3 .embla .grid-d-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-d-three-cols > div, .version-1 .embla .grid-d-three-cols > div, .version-2 .embla .grid-d-three-cols > div, .version-3 .embla .grid-d-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-d-four-cols > div, .version-1 .embla .grid-d-four-cols > div, .version-2 .embla .grid-d-four-cols > div, .version-3 .embla .grid-d-four-cols > div {
    flex: 0 0 25%;
  }
  
}
@media (min-width:1280px) {

  .embla .grid-xl-two-cols > div,  .embla .grid-xl-three-cols > div,  .embla .grid-xl-four-cols > div,  .embla .grid-xl-five-cols > div {
    padding-left: 24px;
  }

  .embla .grid-xl-two-cols > div, .version-1 .embla .grid-xl-two-cols > div, .version-2 .embla .grid-xl-two-cols > div, .version-3 .embla .grid-xl-two-cols > div {
    flex: 0 0 50%;
  }

  .embla .grid-xl-three-cols > div, .version-1 .embla .grid-xl-three-cols > div, .version-2 .embla .grid-xl-three-cols > div, .version-3 .embla .grid-xl-three-cols > div {
    flex: 0 0 33.33%;
  }

  .embla .grid-xl-four-cols > div, .version-1 .embla .grid-xl-four-cols > div, .version-2 .embla .grid-xl-four-cols > div, .version-3 .embla .grid-xl-four-cols > div {
    flex: 0 0 25%;
  }
  
}


.project-gallery-slider .full-wrapper {

}

.project-gallery-slider .embla__slide {

}

.project-gallery-slider .embla .embla__container > div, .project-gallery-columns-slider .embla .embla__container > div {
  flex: 0 0 65%;
}

.project-gallery-columns-slider, .project-gallery-slider {
  background-color: #1c1c1c;
  display: grid;
  align-content: center;
}

.project-gallery-columns-slider .full-wrapper, .project-gallery-slider .full-wrapper {
  padding: 2.5% 0;
}

.project-gallery-slide-inner {
  padding: 32px;
}

.project-gallery-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 48px;
  background-color: #f1f1f1;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 16px #0000005e;
}

.dark-bg .project-gallery-flex {
  background-color: #2b2b2b;
}

.gallery-column-img {
  width: 50%;
  border-radius: 16px;
  overflow: hidden;
  border: solid 1px #e5e5e5;
}

.dark-bg .gallery-column-img {
  border-color: transparent;
  box-shadow: 2px 8px 10px #0000007a;
}

.gallery-column-img img {
  display: block;
  width: 100%;
}

.project-gallery-slider .gallery-column-img {
  width: 100%;
}

.gallery-react-versions {
  background-color: var(--clr-black);
}

.gallery-react-versions .gallery-column-img {
  position: relative;
}

.gallery-react-versions .project-gallery-slide-text {
}

.project-gallery-slide-text {
  text-align: center;
  padding: 24px;
  line-height: 1;
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: var(--extra-text-spacing);
}