
.experience-grid {
    position: relative;
    display: grid;
    gap: 48px;    
}

.experience-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 1em;
    align-items: start;
    background-color: var(--clr-dark-grey);
    padding: 24px 20px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 1px 1px 24px var(--clr-black);
}

.experience-year {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: fit-content;
    line-height: 1;
    font-weight: 700;
    position: relative;
    background: var(--clr-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.experience-text, .experience-head {
    display: grid;
    gap: 16px; 
}

.experience-description {
    display: grid;
    gap: 16px;
    line-height: 1.3em;
    font-size: 1em;
}

.experience-description p, .dark-bg .experience-description p {
    color: var(--clr-grey-dk);
}

.experience-grid::after {
    content: '';
    position: absolute;
    left: 22px;
    top: 0;
    width: 1px;
    height: 100%;
    background-image: var(--clr-gradient);
    opacity: 0.2;
}

.experience-item::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--clr-grey);
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 18px;
    z-index: 2;
}

@media (min-width:1024px) {

    .experience-grid {
        gap: 96px;
        padding: 0 0;
    }

    .experience-grid::after {
        left: 48px;
        transform: translateX(-50%);
    }

    .experience-item {
        gap: 64px;
        flex-direction: row;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 32px 24px 32px 96px;
    }

    .experience-item::before {
        left: 46px;
        top: 50%;
        transform: translateY(-50%);
    }

    .experience-text, .experience-description {
        width: 100%;
        grid-column: span 1;
    }

    .experience-text {
  
    }

    .experience-item:nth-child(even) .experience-text {
        justify-content: start;
        text-align: left;
    }

    .experience-company {
        color: var(--clr-grey-dk);
    }

    .experience-item:nth-child(even) .experience-year {
        margin-right: auto;
        margin-left: 0;
    }

    .experience-description {
        line-height: 1.3em;
        font-size: 1.25em;
        grid-column: span 2;
    }

    
}