.experience-grid {
    position: relative;
    display: grid;
    gap: 64px;
    padding: 64px 0;
}

.experience-grid::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: var(--clr-white);
}

.experience-item {
    position: relative;
    width: 50%;
    margin-right: auto;
    text-align: right;
    padding-right: 64px;
    display: grid;
    gap: 12px;
    line-height: 1em;
}

.experience-item::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--clr-white);
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: 4px;
}

.experience-item:nth-child(even) {
    margin-right: 0;
    margin-left: auto;
    text-align: left;
    padding-right: 0;
    padding-left: 64px;
}

.experience-item:nth-child(even)::before {
    left: -8px;
    right: 0;
}


.experience-item::after {

}